XLAYER_RPC_URL=https://rpc.xlayer.tech
XLAYER_DEPLOYER_PRIVATE_KEY=
XLAYER_USDT_ADDRESS=0x779Ded0c9e1022225f8E0630b35a9b54bE713736
FEE_RECIPIENT=
OWNER_ADDRESS=
FEE_BPS=0
MAX_TOTAL_POOL_USDT=100
MAX_USER_STAKE_USDT=10
MARKET_SEED_FILE=data/matches.initial-mainnet.json
WORLD_CUP_TRI_MARKET_ADDRESS=
OKLINK_API_KEY=
